<mat-form-field [appearance]="appearance()" class="ui-input-field">
  @if (label()) {
    <mat-label>{{ label() }}</mat-label>
  }

  @if (iconName()) {
    <mat-icon matPrefix>{{ iconName() }}</mat-icon>
  }

  <input
    matInput
    [id]="inputId"
    [type]="type()"
    [placeholder]="placeholder()"
    [disabled]="isDisabled()"
    [value]="value()"
    [errorStateMatcher]="errorStateMatcher"
    (input)="onInput($event)"
    (blur)="onBlur()"
  />

  @if (error()) {
    <mat-error>{{ error() }}</mat-error>
  }
</mat-form-field>
