:host {
  display: block;
}

.ui-input-field {
  width: 100%;

  // Override Material's primary colour with our design token
  --mat-form-field-focus-active-indicator-color: var(--color-primary);
  --mat-form-field-label-text-color: var(--color-text-secondary);
  --mdc-outlined-text-field-focus-outline-color: var(--color-primary);
  --mdc-outlined-text-field-focus-label-text-color: var(--color-primary);
}
